* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono Nerd Font", monospace;
  font-size: 10px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1f2125;
  color: #c5c9c7;
  border: 1px solid #5c6066;
}

#workspaces button:hover {
  background-color: #5c6066;
}

#workspaces button.active {
  background-color: #1f2125;
  color: #e6c384;
  border: 2px solid #e6c384;
  font-weight: 700;
}

#workspaces button.urgent {
  background-color: #1f2125;
  color: #e46876;
  border: 1px solid #e46876;
}

#clock,
#pulseaudio,
#backlight,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#battery,
#tray,
#window,
#mpris,
#network {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: #1f2125;
  border: 1px solid #5c6066;
}

#mpris.playing {
  color: #87a987;
}

#mpris.paused {
  color: #a4a7a4;
}

#custom-sep {
  padding: 0px;
  color: #5c6066;
}

window#waybar.empty #window {
  background-color: transparent;
}

#battery {
  color: #87a987;
}

#battery.charging {
  color: #e6c384;
}

#battery.warning {
  color: #e46876;
}

#battery.critical {
  color: #c4746e;
}

#clock {
  color: #8ba4b0;
}

#clock.simpleclock {
  color: #7fb4ca;
}

#window {
  color: #c5c9c7;
}

#pulseaudio {
  color: #7fb4ca;
}

#pulseaudio.muted {
  color: #5c6066;
}

#backlight {
  color: #e6c384;
}

#custom-logo {
  color: #7fb4ca;
}

#custom-power {
  color: #e46876;
}

#network {
  color: #7fb4ca;
}

#network.disconnected {
  color: #e46876;
}

tooltip {
  background-color: #14171d;
  border: 2px solid #7fb4ca;
}

