/Vial
/beekeeper-studio
/dconf
/go
/google-chrome
/nextjs-nodejs
/niri
/nvim
/pgmodeler-1.2
/pulse
/session
/spotify
/jiratui
QtProject.conf
dolphinrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale


/gh/hosts.yml
