/Vial
/BraveSoftware
/beekeeper-studio
/dconf
/obsidian
/spicetify
/VSCodium
/go
/google-chrome
/nextjs-nodejs
/niri
/nvim
/pgmodeler-1.2
/pulse
/session
/spotify
/jiratui
QtProject.conf
dolphinrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale
kwalletrc
/gh/hosts.yml
ai.opencode.desktop
/apidog
/com.jadal.pos
/discord
