* {
  font: "DankMono Nerd Font";
}

configuration {
  modi: "drun";
  icon-theme: "Papirus-Dark";
  show-icons: true;
  drun-display-format: "{name}";
  disable-history: true;
  sidebar-mode: false;
  hover-select: true;
}

@import "theme.rasi"

window {
  transparency: "real";
  location: center;
  anchor: center;
  fullscreen: false;
  width: 800px;
  height: 550px;
  x-offset: 0px;
  y-offset: 0px;
  enabled: true;
  border-radius: 12px;
  cursor: "default";
  background-color: @bg;
  border: 1px solid;
  border-color: @accent;
}

mainbox {
  enabled: true;
  spacing: 0px;
  background-color: transparent;
  orientation: vertical;
  children: [ "inputbar", "listbox" ];
}

listbox {
  spacing: 14px;
  padding: 20px 20px;
  background-color: transparent;
  orientation: vertical;
  children: [ "listview" ];
}

inputbar {
  enabled: true;
  spacing: 12px;
  padding: 24px 28px;
  background-color: transparent;
  background-image: url("~/.config/hypr/img/bg-1.jpg", width);
  text-color: @fg;
  orientation: horizontal;
  children: [ "textbox-prompt", "entry" ];
  border-radius: 12px 12px 0px 0px;
}

textbox-prompt {
  enabled: true;
  expand: false;
  str: "󰸉";
  padding: 10px 14px;
  border-radius: 8px;
  background-color: @bg-alt;
  text-color: @accent;
  font-size: 16;
}

entry {
  enabled: true;
  expand: true;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: @bg-alt;
  text-color: inherit;
  cursor: text;
  placeholder: "Search wallpapers...";
  placeholder-color: @fg-muted;
  font-size: 14;
}

listview {
  enabled: true;
  columns: 2;
  lines: 5;
  cycle: true;
  dynamic: true;
  scrollbar: false;
  spacing: 12px;
  background-color: transparent;
  text-color: @fg;
  cursor: "default";
}

element {
  enabled: true;
  spacing: 8px;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  text-color: @fg;
  cursor: pointer;
}

element.normal.normal {
  background-color: rgba(0, 0, 0, 0.15);
  text-color: inherit;
  opacity: 0.8;
}

element.selected.normal {
  background-color: @accent;
  text-color: @bg;
  border-radius: 8px;
  opacity: 1.0;
}

element-icon {
  background-color: transparent;
  text-color: inherit;
  size: 120px;
  cursor: inherit;
}

element-text {
  enabled: true;
  background-color: transparent;
  text-color: inherit;
  cursor: inherit;
  vertical-align: 0.5;
  horizontal-align: 0.5;
  font-size: 11;
}
